*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}
html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin:0 auto;
}

.clear{
	clear: both;
}
header{
	padding: 20px 2% 35px 2%;
	height: 130px;
}
header div.logo{
	float: left;
}
header nav.desktop{
	float: right;
	position: relative;
	top: 40px;
}
nav.mobile{
	margin-top: 40px;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	cursor: pointer;
	background-image: url('../img/menu.png');
	display: none;
}
nav.mobile ul{
	display: none;
	width: 100%;
	left: 0;
	top: 98px;
	border-bottom: 4px solid #EB2D2D;
	z-index: 999;
	position: absolute;
	text-align: center;
	background-color: white;
}
/*
nav.mobile:hover ul{
	display: block;
}*/
nav.mobile li{
	font-size: 23px;
	padding: 20px 0px;
	font-style: italic;
}
nav.mobile li a{
	color: black;
	text-decoration: none;
}

header nav.desktop ul{
	list-style-type: none;
}
header nav.desktop ul li{
	float: left;
	font-size: 23px;
	padding:0 30px;
	font-style: italic;
}
header nav.desktop a{
	color: black;
	text-decoration: none;
}
section.banner{
	/*tag para nao criar a scorbar*/
	overflow: hidden;
	width: 100%;
	height: 650px;
	/*height: calc(100vh - 130px)*/
	/*height: 100vw;*/
	/*min-height: 600px;*/
	/*max-height: 800px;*/
	background-color: black;
	background-image: url('../img/ft2.png');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.text-banner{
	padding: 100px;
}
.text-banner-single{
	width: 314px;
	height: 50px;
	font-style: italic;
	margin-top: 20px;
	padding: 12px 30px;
	color: white;
	text-transform: uppercase;
	font-size: 23px;
	background-image: url(../img/banner1.png);
	background-size: 100% 100%;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 60px;
}
/*Definindo ordem dos elementos*/ 
.text-banner .text-banner-single:nth-of-type(2){
	width: 240px;
	height: 50px;
	position: relative;
	left: -15px;
}
.text-banner .text-banner-single:nth-of-type(3){
	width: 170px;
	height: 50px;
	position: relative;
	left: -25px;
}
.text-banner .text-banner-single:nth-of-type(4){
	width: 320px;
	height: 50px;
	font-size: 21px;
	color: black;
	position: relative;
	left: -35px;
	background-image: url('../img/banner2.png');
}
section.veiculos-destaque{
	padding: 90px 2%;
}
section.veiculos-destaque .container{
	max-width:1000px;
	padding: 40px 0;
}
.line-titulo{
	max-width:1400px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}

.ln1{
	position: absolute;
	height: 2px;
	width: 100%;
	top: 20px;
	background: black;
}

.line-titulo h2{
	position: relative;
	background: white;
	display: inline-block;
	text-align: center;
	font-size: 27px;
	padding:0 20px;
	font-style: italic;
	text-decoration: uppercase;
}
.vitrine-destaque{
	float: left;
	width: 33.3%;
}
.vitrine-destaque .carro-img{
	width: 100%;
	padding-top: 100%;
	border: 8px solid white;
	background-size: 100% 100%;
}
.vitrine-destaque h2{
	padding-left: 8px;
	color: black;
	font-style: italic;
	font-size: 20px;
}
.vitrine-destaque p{
	padding-top: 8px;
	padding-left: 8px;
	color: #353535;
	font-size: 15px;
	font-style: italic;
}
.btn1{
	text-align: center;
	display: block;
	line-height: 40px;
	background-color: #EB2D2D;
	text-decoration: none;
	border-bottom: 5px solid #B21E1E;
	color: white;
	font-size: 16px;
	font-style: italic;
	width: 150px;
}

.vitrine-destaque a{
	margin-left: 8px;
	margin-top: 10px;
}
.servicos-descricao{
	display: flex;
}
.half1{
	width: 50%;
	text-align: right;
	padding: 90px 0;
	background: #242424;
	color: white;
}
.half1-wraper{
	padding-right: 30%;
	text-align: left;
	display: inline-block;
}
.half1-wraper h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}
.half1-wraper ul{
	/*list-style-position: inside;*/
	display: inline-block;
	margin-top: 20px;
}
.half1-wraper li{
	margin-left: 15px;
}
.half1-wraper a{
	margin-left: 40px;
	display: inline-block;
	vertical-align: bottom;
}

.half2{
	width: 50%;
	padding: 90px 100px;
	background-color: #EB2D2D;
	color: white;
}
.half2 h2{
	font-weight: normal;
	font-style: italic;
	font-size: 32px;
}
.half2 .depoimento-single{
	margin-top: 19px;
}
.depoimento-single p{
	font-size: 22px;
}
.navigation{
	float: left;
	width: 100%;
	max-width: 700px;
	margin-top: 30px;
}
.navigation img{
	float: left;
	margin: 0 20px;
	cursor: pointer;
}
.arrows{
	float: left;
}
.nome-depoimento{
	float: right;
	color: #252525;
	font-size: 23px;
}

.seta1 img{
	/*seta de hiper link interno*/
	float: right;
	width: 27px;
	height: 19px;
	margin-top: -65px;
	margin-right: 2%;
}

section.contato{
	padding: 80px 2% 0 ;
}
section.contato form{
	max-width: 600px;
	margin: 30px auto;
}
section.contato .input-wraper{
	float: left;
	padding: 10px;
	margin-top: 7px;
}
section.contato input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 60px;
	font-size: 16px;
	line-height: 40px;
	padding-left: 15px;
}
section.contato textarea{
	font-size: 16px;
	width: 100%;
	border: 1px solid #ccc;
	height: 140px;
	padding: 8px;
	/*resize: none; faz com quem o textarea fica parado ou seja sem movimentacao de tamanho*/
	resize: none;
}
section.contato form .input-wraper:nth-of-type(5){
	text-align: center;
}

section.contato input[type=submit]{
	border-right: 0;
	border-left: 0;
	border-top: 0;
	cursor: pointer;
	display: inline-block;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

footer{
	margin-top: 20px;
	padding: 40px 2%;
	background: #252525;
}
footer nav{
	float: left;
}
footer nav ul{
	list-style-type: none;
}
footer nav ul li{
	float: left;
	font-style: italic;
	padding: 0 35px;
	font-size: 19px;
}
footer nav ul a{
	color: white;
	text-decoration: none;
}
footer p{
	top:-10px;
	position: relative;
	float: right;
	color: white;
	font-size: calc(19 / 2);
	font-style: italic;
}
section.venda{
	padding: 90px 2%;
	min-height: 90%;
}
.venda .line-titulo{
	/*tamanho da linha do h2 venda*/
	/*width: 95%;*/
}
.content-venda{
	margin-top: 40px;
}

.sidebar{
	float: left;
	width: 30%;
}
.search1{
	width: 90%;
}
.search1 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}
.search1 .barra-preco{
	width: 100%;
	height: 20px;
	background: white;
	border: 1px solid #ccc;
	margin-top: 8px;
	border-radius: 20px;
	position:relative;
}
.barra-preco-fill{
	position:absolute;
	left: 0;
	top: -2;
	width: 0;
	height: 20px;
	border-radius: 20px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(200,200,200));
}
.poiter-barra{
	cursor: pointer;
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 8px;
	background:linear-gradient(to bottom,rgb(255,255,255),rgb(180,180,180));
	border: 1px solid #777;
}
.valor-pesquisa{
	margin-top: 8px;
}
.valor-pesquisa p{
	color: black;
	font-size: 15px;
}
.valor-pesquisa p:nth-of-type(1){
	float: left;
}
.valor-pesquisa p:nth-of-type(2){
	float: right;
}
.search2{
	margin-top: 40px;
}
.search2 h2{
	font-size: 24px;
	color: black;
	font-weight: normal;
}
.form-venda-wraper{
	margin-top: 10px;
}
.form-venda-wraper input[type=checkbox]{
	display: none;
}
.form-venda-wraper label{
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}
.circle{
	width: 8px;
	height: 8px;
	display: none;
	border-radius: 4px;
	background: black;
	position: absolute;
	left: 6px;
	top: 6px;
}
.form-venda-wraper input[type=checkbox]:checked + label > .circle{
	display: block;
}

.form-venda-wraper span{
	padding: 0 10px;
	display: inline-block;
	vertical-align: top;
}
.vitrine-venda{
	overflow: hidden;
	float: left;
	width: 70%;
}
.vitrine-venda .vitrine-destaque{
	margin-top: 20px;
}
section.venda-single{
	padding: 80px 2% 0 2%;
}

section.venda-single .container{
	padding:40px 0 0 0;
	text-align: center;
	max-width: 1280px;
}
.info-veiculo{
	display: inline-block;
	width: 60%;
}
.foto-destaque{
	width: 100%;
	padding-top: 70%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.descricao-veiculo{
	vertical-align: top;
	display: inline-block;
	/*width: 40%;*/
	padding:60px 20px;
}
.descricao-veiculo h2{
	text-align: left;
}
.descricao-veiculo p{
	font-size: 17px;
	margin-top: 25px;
	max-width: 200px;
	text-align: left;
}
.descricao-veiculo a{
	margin-top: 25px;
}
.nav-galeria-parent{
	width: 100%;
	padding: 36px;
	position: relative;
}
.arrow-left-nav{
	position: absolute;
	left: 8px;
	top: 50%;
	cursor: pointer;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image: url('../img/arrow-left.png');
	background-size: 100% 100%;
	width: 20px;
	height: 22px;
}

.arrow-right-nav{
	position: absolute;
	right: 8px;
	top: 50%;
	cursor: pointer;
	transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	background-image: url('../img/arrow-right.png');
	background-size: 100% 100%;
	width: 20px;
	height: 22px;
}
.info-bread{
	padding: 20px 0;
	text-align: left;
}
.info-bread a{
	text-decoration: none;
	color: black;
}

.info-bread a:last-child{
	color: red;
}
.info-bread span{
	padding: 0 30px;
}
.nav-galeria{
	overflow: hidden;
	width: 100%;
	/*padding: 15px;
	overflow: hidden;
	/*overflow: scroll; cria uma scroll bar para arrrastar as imagens*/
	/*margin-top: 15px;*/
}
.nav-galeria-wraper{
	/*width: 200%; Via Js*/
}
.mini-img-wraper{
	float: left;
	padding: 9px;
	/*width: calc(33.3% * (100 / 200)); Via Js*/
}
.mini-img{
	width: 100%;
	padding-top: 70%;
	cursor: pointer;
	background-position: center;
	/*background-size:100% 100%;*/
	background-size: cover;
	background-color: #ccc;
	/*
	cursor: pointer;
	float: left;
	border: 7px solid white;
	background-position: center;
	background-size: cover;
	padding-top:calc(33.3% * (100 / 200) * 0.4);;
	width: calc(33.3% * (100 / 200));*/
}

section.sobre{
	min-height: 90%;
	padding:60px 2% 20px 2%;
}
section.sobre .container{
	max-width: 840px;
	margin-top:30px;
}
section.sobre .img-destaque-sobre{
	width: 100%;
	padding-top:60%;
	background-image: url('../img/sobre.png');	
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(220,220,220);
}
section.sobre .descricao-autor{
	margin-top: 20px;
}
.descricao-autor h2{
	font-size: 24px;
}
.descricao-autor p{
	line-height: 28px;
	font-size: 16px;
	margin-top: 10px;
}
.descricao-autor2{
	margin-top: 40px;
}
.img-small{
	width: 30%;
	padding-top: 30%;
	float: left;
	background-color: rgb(220,220,220);
}

.descricao-autor2 p{
	float: left;
	width: 70%;
	line-height: 28px;
	padding:15px;
}


@media screen and (max-width: 1366px){
	section.banner{
		background-size: 89% auto;
		/*background-position: 120% 100%;*/
		background-position: 200% 100%;
		/*background-position: 200% 100% para o mustang;*/
	}
}

@media screen and (max-width: 1230px){
		.half1{
		text-align: center;
	}
	.half1-wraper{
		text-align: left;
		padding: 0;
	}
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}
@media screen and (max-width: 1024px){
	section.banner{
		background-size: cover;
		background-position: center;
		height: 70vw;
		min-height: 500px;
	}
}
@media screen and (max-width: 950px){
	.half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 15px;
	}
}
@media screen and (max-width: 768px){
	footer nav{
		display: none;
	}
	footer {
		text-align: center;
	}
	footer p{
		float: none;
	}
	.w50{
		width: 100%;
	}
	section.servicos-descricao{
		flex-direction: column;
	}
	.half1{
		text-align: center;
	}
	.half1-wraper{
		text-align: left;
		padding-right: 0;
	}
	.half1,.half2{
		padding: 80px 4%;
		width: 100%;
	}
	.sidebar{
		width: 100%;
		text-align: center;
	}
	.search1{
		display: inline-block;
	}
	.search2{
		text-align: left;
		display: inline-block;
	}
	.vitrine-venda{
		text-align: center;
		width: 100%;
	}
	.info-veiculo{
		width: 100%;
	}
	.descricao-veiculo{
		padding: 20px 0;
		text-align: center;
	}
	.descricao-veiculo > h2{
		text-align: center;
	}
	.descricao-veiculo a{
		display: inline-block;
	}
	.descricao-veiculo p{
		max-width: none;
	}
}
@media screen and (max-width: 730px){
	nav.desktop{
		display: none;
	}
	nav.mobile{
		display: block;
	}
}
@media screen and (max-width: 580px){
	.text-banner{
		padding: 30px;
	}
	.text-banner-single{
		/*width: 240px;*/
		font-size: 18px;
	}
	.text-banner .text-banner-single:nth-of-type(4){
		/*width: 270px;*/
	}
	section.veiculos-destaque .container{
		max-width: 1000px;
		padding: 40px 0;
		text-align: center;

	}
	.vitrine-destaque{
		display: inline-block;
		float: none;
		width: 80%;
		margin-top: 20px;
	}
	.vitrine-destaque a{
		display: inline-block;
	}
	.img-small{
		width: 100%;
		padding-top: 100%;
	}
	.descricao-autor p{
		width: 100%;
		padding: 20px 0;
	}
}

@media screen and (max-width: 320px){
	.text-banner .text-banner-single:nth-of-type(1){
		width: 245px;
	}
	.text-banner .text-banner-single:nth-of-type(2){
		width: 200px;
		position: relative;
		left: -5px;
	}
	.text-banner .text-banner-single:nth-of-type(3){
		width: 150px;
		position: relative;
		left: -10px;
	}
	.text-banner .text-banner-single:nth-of-type(4){
		width: 280px;
		position: relative;
		left: -15px;
	}
}
@media screen and (max-width: 480px){
	.vitrine-destaque{
		width: 100%;
	}
	.seta1 a img{
		width: 60px;
		height: 30px;
	}
	.banner .container{
		width: 100%;
	}
	.text-banner-single{
		width: 100%;
		font-size: 18px;
	}
	.text-banner .text-banner-single:nth-of-type(4){
		font-size: 18px;
	}
}
@media screen and (max-width:285px){
	.seta1 a img{
		display: none;
	}
}